<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mirage.miragewebviewandroidplugin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".MirageWebViewActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>