<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mirage.webviewplugin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".MirageWebViewActivity">
        </activity>
    </application>

</manifest>